@model BookModel
@{
    ViewData["Title"] = "Detail";
}

@* TODO: Make this look good *@
<div class="container">
    <h2>@Model.Name</h2>
    <p class="price">@Model.Price</p>
    <p>@Model.QualityRating</p>
</div>