@model BookIndexViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Book</h2>
</div>

<section>
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="Name" class="control-label"></label>
                <input name="Name" id="Name" class="form-control" placeholder="Name"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn" />
            </div>
        </form>
    </div>
</section>

@if (Model != null) 
{
    <div class="container">
        <div class="book-items row sb">
            @foreach (BookModel book in Model.Books) 
            {
                <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id" class="book-item">
                    <img src="https://picsum.photos/250/250" alt="Book Image">
                    <span class="price">@book.Price</span>
                    <span class="title">@book.Name</span>
                </a>
            }
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}