/*              */
/* Main styling */
/*              */

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.sa {
    justify-content: space-around;
}

.sb {
    justify-content: space-between;
}

a {
    color: #000;

    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.price::before {
    content: "€";
}

.hidden { 
    display: none!important ;
}

/*                */
/* Button styling */
/*                */

.btn {
    padding:6px 15px;
	color:#ffffff;
    
	background-color:#e4685d;
    
    border:1px solid #ffffff;
	border-radius:4px;
    font-size:15px;
}

.btn:hover {
    background-color:#eb675e;
}

.btn:active {
    position:relative;
    top:1px;
}

.btn.add {
    background: #7ad752;
}

.btn.add:hover {
    background: #74c551;
}

/*                */
/* Header styling */
/*                */

header {
    padding: 15px 0;
    margin-bottom: 25px;
    color: #fff;

    background: #96c1e8;
}
/* 
header li, header h1 {
    margin: 0 10px;
    padding: 10px;
    background: #96c1e8;
    border-radius: 100px;
} */

header h1 {
    padding-right: 25px;
}

header li {
    display: flex;
    align-items: center;

    padding-right: 10px;
}

header a {
    color: #fff;
}

/*               */
/* Error styling */
/*               */

.text-danger span {
    display: block;

    margin: 10px 0;
    padding: 10px;

    border-radius: 3px;
    color: #D8000C;
    background-color: #FFBABA;

    font-size: 13px;
}

/*                   */
/* Book-item styling */
/*                   */

.book-items {
    margin-bottom: 25px;

    flex-wrap: wrap;
}

.book-items.small {
    margin-bottom: 10px;
}

.book-item {
    width: 250px;
    height: 250px;
    
    margin: 25px 0;
    text-align: center;
    
    position: relative;
}

.book-item:hover {
    box-shadow: 5px 5px 5px rgb(102, 102, 102);
    transform: scale(1.02);
}

.book-item.small {
    width: 180px;
    height: 180px;

    margin: 15px 0;
}

.book-item span {
    display: block;
}

.book-item .price {
    position: absolute;
    top: 0;
    left: 0;

    padding: 10px;
    background: #fff;
}

.book-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    background: rgba(255,255,255, .75);
    width: 100%;
}

.book-item img {
    width: 100%;
    height: 100%;
}

.book-item .edit {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background: #000a;
}

/*              */
/* Form styling */
/*              */

form {
    padding: 25px 0;
}

.form-group {
    display: flex; 
    flex-direction: column;
    padding-bottom: 10px;
}

.form-group:last-of-type {
    padding-bottom: 0;
}

.form-group input:not([type=submit]) {
    margin: 10px 0;
    padding: 10px;

    border: 1px solid #ccc; 
    border-radius: 3px;
}

/*                */
/* Footer styling */
/*                */

footer {
    margin-top: 25px;
}

footer p {
    margin-top: 10px;
}